:root {
    --card-height: 600px;
    --card-half-width: 450px;
    --font-size: 1.6rem;
    --happy-font-size: 2.5rem;
    --text-color: #fff;
}

.dom{
    --card-light: hsl(41, 73%, 56%);
    --card-dark: hsl(41, 73%, 46%);
}

.dom > .contents > .body > img{
    height: 350px;
	width: 358px;
    transform: translateY(10%);
}

.dad{
    --card-light: hsl(308, 53%, 50%);
    --card-dark: hsl(308, 53%, 40%);
}

.seb{
    --card-light: hsl(41, 76%, 84%);
    --card-dark: hsl(41, 76%, 78%);
    --text-color: hsl(311, 92%, 37%);
}

.seb > .contents > .body > img{
    height: 370px;
	width: 378px;
    transform: translateY(10%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.book {
    margin-top: 3rem;
    height: var(--card-height);
    width: var(--card-half-width);
    font-size: 1.5rem;
    box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.25);
    text-align: center;
    position: relative;
    color: #484e4a;
	transform: translateY(13%);
}
.page {
    width: 100%;
    height: 100%;
    perspective: 1500px;
}
.page__1 {
    background-color: var(--card-light);
    color: var(--text-color);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: transform 1s 0.3s, box-shadow  1s 0.3s;
    transform-origin: 0 50%;
    z-index: 2;
	display:flex;
	flex-direction: column;
	flex-grow: 1;
}
.page__1::after {
    content: "";
    color: #eff0eb;
    position: absolute;
    padding-top: 1.5rem;
    top: 0;
    left: 0;
	background-color: var(--card-light);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transform: rotateY(180deg);
    transition: all 0.3s 0.5s;
}

.page__2 {
	background-color: var(--card-dark);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page.open-page .page__1 {
    transform: rotateY(-180deg);
    box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
}
.page.open-page .page__1::after {
    opacity: 1;
}

.contents{
	position: relative;
	height: 100%;
	width: 100%;
}

.header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	font-size: var(--happy-font-size);
}

.body{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.body img{
	height: 270px;
	width: 358px;
}

.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: var(--font-size);
}

.page__2 p{
	font-size: var(--font-size);
	font-weight: bold;
	text-align: center;
	width: 75%;
	color: var(--text-color);
	user-select: none;
}

.smaller{
    font-size: calc(var(--font-size) / 2.2);
    font-weight: lighter;
}

.bigger{
    font-size: calc(var(--font-size) * 1.5);
}

.medium{
    font-size: calc(var(--font-size) * 1.25);
}

.inside-text{
    color: black;
}

@media only screen and (max-width: 600px) {
    .book{
        scale: .5;
        transform: translateX(50%);
    }
  }